<h2>Najem plovila</h2>

<div class="course-cards">


  <a href="/boats" data-link class="course-card">

    <div class="course-image">
      <img src="/images/erikgumon.jpg" alt="Začetni tečaj jadranja">
    </div>
  
    <div class="course-content">
      <h3>Gumenjak</h3>
      <p>Cena: 289€</p>
      <p>7m, 150KM</p>
    </div>
  </a>

  <a href="/boats" data-link class="course-card">

    <div class="course-image">
      <img src="/images/jajca.jpg" alt="Začetni tečaj jadranja">
    </div>
  
    <div class="course-content">
      <h3>Šolska jadrnica - Express 770</h3>
      <p>Cena: 289€</p>
      <p>7m, 150KM</p>
    </div>
  </a>