<h2>Najem plovila</h2>

<div class="course-cards">


  <a href="/boats" data-link class="course-card">

    <div class="course-image">
      <img src="/images/erikgumon.jpg" alt="gomon7m">
    </div>
  
    <div class="course-content">
      <h3>Gumenjak</h3>
      <p>Cena: 289€</p>
      <p>7m, 150KM</p>
    </div>
  </a>

  <a href="/boats" data-link class="course-card">

    <div class="course-image">
      <img src="/images/jajca.jpg" alt="express770">
    </div>
  
    <div class="course-content">
      <h3>Šolska jadrnica - Express 770</h3>
      <p>Cena: 115€/dan</p>
      <p>7,7m, 5KM</p>
    </div>
  </a>

  <a href="/boats" data-link class="course-card">

    <div class="course-image">
      <img src="/images/vsr.jpg" alt="vsr">
    </div>
  
    <div class="course-content">
      <h3>VSR 5.8</h3>
      <p>Cena: 199€/dan</p>
      <p>5.8m, 70KM</p>
    </div>
  </a>