<section class="course-page" data-course="Tečaj plovbe z gumenjakom"></section>

<h2>Tečaj plovbe z gumenjakom</h2>

<p>
  Imate izpit za voditelja čolna, a nimate praktičnega znanja za plovbo z gumenjakom?
  Opravite praktični tečaj plovbe z gumenjakom in se sami varno odpravite na morje s katerimkoli gumenjakom.
</p>

<p>
  Tečaj poteka na gumenjaku dolžine vsaj 5m in 60hp
</p>

<ul>
  <li>Spoznavanje gumenjaka</li>
  <li>pregled in priprava čolna ter opreme</li>
  <li>varna plovba po marini (uporaba pravil o izogibanju trčenju na morju)</li>
  <li>glisiranje in manevriranje</li>
  <li>pristajanje z bočnim privezovanjem in izplutje,</li>
  <li>privezovanje v četverovez in izplutje,</li>
  <li>sidranje</li>
</ul>

<p>Tečajniki izmenjujejo vloge na čolnu, tako da vsak izmed njih izvede vse vaje iz programa tečaja.</p>

<p>Cena tečaja je <b>99€ na osebo</b> in vključuje:<br>
  <ul><li>4-urni tečaj plovbe na gumenjaku</li>
    <li>Stroške najema plovila, goriva in zavarovanja</li>
    <li>Priročnik za pristajanje</li>
    <li>Video-gradiva</li>
  </ul></p>

  <h3>Prijavnica</h3>

  <form action="/signup" method="POST" class="signup-form">
  
      <!-- COURSE (auto-filled by JS as before) -->
      <label>
        Ime in priimek
        <span class="required hidden">*</span>
        <input type="text" name="fullName" required>
      </label>
      
      <label>
        Ulica in hišna številka
        <span class="required hidden">*</span>
        <input type="text" name="address" required>
      </label>
      
      <label>
        Poštna številka
        <span class="required hidden">*</span>
        <input type="text" name="postalCode" required>
      </label>
      
      <label>
        Kraj
        <span class="required hidden">*</span>
        <input type="text" name="city" required>
      </label>
      
      <label>
        Telefon
        <span class="required hidden">*</span>
        <input type="tel" name="phone" required>
      </label>
      
      <label>
        E-pošta
        <span class="required hidden">*</span>
        <input type="email" name="email" required>
      </label>
      
      <label>
        Število tečajnikov
        <span class="required hidden">*</span>
        <input type="number" name="participants" min="1" value="1" required>
      </label>
      
      <label>
        Opombe
        <textarea name="notes" rows="4"></textarea>
      </label>
  
      <input type="hidden" name="course" id="courseField">
  
      
    
      <button class="select-course-btn">Pošlji prijavo</button>
    
    </form>

</section>
  