<section class="trips-page">

  <h1>Jadralski izleti po meri</h1>

  <p class="intro">
    Jadralski izleti niso vnaprej določeni paketi, temveč doživetja,
    ki jih prilagodimo vašim željam, času in izkušnjam.
    Vsak izlet je drugačen.
  </p>

  <section class="customizable">
    <h2>Izlet lahko prilagodimo glede na:</h2>

    <ul>
      <li>trajanje (2ure, 4ure, cel dan)</li>
      <li>lokacijo in izhodiščno pristanišče (kjerkoli na Slovenski obali)</li>
      <li>število oseb</li>
      <li>želje po jadranju, kopanju ali raziskovanju</li>
      <li>raven vašega predznanja</li>
    </ul>
  </section>

  <section class="boats-overview">
    <h2>Na voljo več vrst plovil</h2>

    <p>
      Glede na velikost skupine in namen izleta izberemo najprimernejše plovilo.
      Na voljo imamo več različnih jadrnic in motornih plovil.
    </p>

    <div class="boat-types">
      <div class="boat-card">
        <h3>Jadrnice</h3>
        <p>
          Idealne za sproščeno jadranje, učenje osnov in druženje na morju.
        </p>
      </div>

      <div class="boat-card">
        <h3>Motorni čolni</h3>
        <p>
          Primerni za hitrejše izlete, kopanje v zalivih in krajše avanture.
        </p>
      </div>
    </div>
  </section>


  <section class="cta">
    <h2>Kontaktirajte nas</h2>
  
    <p class="cta-text">
      Ker so izleti prilagojeni vašim željam, nam pošljite povpraševanje
      in skupaj bomo pripravili predlog izleta.
    </p>
  
    <a href="/contact" data-link class="cta-button">
      Pošlji povpraševanje
    </a>
  </section>

  <p>V ceno izleta je vključeno:<br>
    <ul>
      <li>Stroški najema plovila, goriva in zavarovanja</li>
      <li>Skiper/inštruktor</li>
    </ul></p>
    
  
  

</section>
